@page "/dotatracker"
@using Models.DTOs
@using Models.Enums
@rendermode @(new InteractiveServerRenderMode())

<form>
    <MudGrid>
        <MudItem xs="50" sm="6" md="4">
            <MudAutocomplete T="string" label="Ваш герой" @bind-Value="value1" SearchFunc="@Search1">
            </MudAutocomplete>
        </MudItem>
        <MudItem xs="50" sm="6" md="4">
            <MudAutocomplete T="string" label="Герой оппонента" @bind-Value="value2" SearchFunc="@Search2">
            </MudAutocomplete>
        </MudItem>
        <MudButton OnClick="Parse" Variant="Variant.Filled">Найти</MudButton>
    </MudGrid>
</form>
@if (_dtos != null && _dtos.Count() != 0 )
{
    <MudTable Items="_dtos">
        <HeaderContent>
            <MudTh>Nr</MudTh>
            <MudTh>Link</MudTh>
            <MudTh>Items</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Id</MudTd>
            <MudTd DataLabel="Link"><a href="@context.Link">@context.Link</a></MudTd>
            <MudTd DataLabel="Link"> @* @if(context.Items!=null) @String.Join(", ",context.Items) *@
                @foreach (var item in context.Items)
                {
                    <img src=@($"img/{item}.jpg") height="32" />
                }
            </MudTd>
        </RowTemplate>
        </MudTable>
}
else
{
    <p>@conditionOfQuery</p>
}
@code {
    private bool resetValueOnEmptyText;
    private bool coerceText;
    private bool coerceValue;
    private string? value1;
    private string? value2;
    private string[] heroes = new HeroCatalogue().heroes;
    private string conditionOfQuery = "";


    List<DotaTrackerDTO>? _dtos;

    public async void Parse()
    {
        _dtos = await Parser(value1!,value2!);
        if(_dtos.Count == 0)
        {
            conditionOfQuery = "Games had not been found";
        }
        StateHasChanged();
    }

    private async Task<IEnumerable<string>> Search1(string value)
    {
        await Task.Delay(1);

        if (string.IsNullOrEmpty(value))
            return heroes;
        var filteredHeroes = heroes.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        var sortedHeroes = filteredHeroes.OrderBy(hero =>
            {
                int matchScore = hero.IndexOf(value, StringComparison.InvariantCultureIgnoreCase);
                if (matchScore == -1) matchScore = int.MaxValue;
                return matchScore;
            });

        return sortedHeroes;
    }

    private async Task<IEnumerable<string>> Search2(string value)
    {
        await Task.Delay(1);

        if (string.IsNullOrEmpty(value))
            return heroes;
        var filteredHeroes = heroes.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        var sortedHeroes = filteredHeroes.OrderBy(hero =>
            {
                int matchScore = hero.IndexOf(value, StringComparison.InvariantCultureIgnoreCase);
                if (matchScore == -1) matchScore = int.MaxValue;
                return matchScore;
            });

        return sortedHeroes;
    }
}
